html, body
    background-color: #333
    margin: 0
    padding: 0

.view
    margin: 0px 10px 30px 10px

#container
    color: white
    font-family: monospace
    display: flex
    flex-wrap: nowrap
    justify-content: flex-end
    // align-items: stretch

#left-pane
    background-color: #444
    min-width: 200px
    border-right: 1px dotted white
    min-height: 100vh
    flex-grow: 1
    // order: 1

#right-pane
    padding: 0 20px
    // min-height: 100vh
    // flex-grow: 1
    // order: 1

.dropzone
    height: 30px
    border: 1px dotted white
    display: flex
    align-items: center
    text-align: center
    padding: 1px 10px
    margin-bottom: 20px

.mapping
    padding-bottom: 20px

    table
        border-collapse: collapse
        // width: 100%


    th, tr, td
        border: 1px solid white
        padding: 0 10px
        &.checkbox
            text-align: center

    th
        line-height: 200%
        text-align: left
        color: #333
        background-color: white
        border-right: 1px solid #333
        &:first-child
            // text-align: center
        &:last-child
            border-right: 1px solid #fff

    tr.specname
        line-height: 190%
        // text-align: center
        td
            font-weight: bold



